<footer class="footer">
    <div class="container">
        <nav class="nav nav--btm">
            <ul class="footer-list">
                <li class="footer__item"><a href="https://www.facebook.com/mac.bhardwaj.3" target="_blank" class="footer__links"><i class="fab fa-facebook-f"></i></a></li>
                <li class="footer__item"><a href="https://twitter.com/mammothgazelle" target="_blank" class="footer__links"><i class="fab fa-twitter"></i></a></li>
                <li class="footer__item"><a href="https://plus.google.com/u/0/113140938566038811242" target="_blank" class="footer__links"><i class="fab fa-google-plus-g"></i></a></li>
                <li class="footer__item"><a href="https://github.com/mammothgazillionaire" target="_blank" class="footer__links"><i class="fab fa-github"></i></a></li>
                <li class="footer__item"><a href="https://www.linkedin.com/in/madhusudan-bhardwaj-8a6a6911a/" target="_blank" class="footer__links"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>