<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <link rel="stylesheet" href="assets/grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% include header.html %}
    <section class="about__author">        
        <div class="container">
            <div class="element__top">
                <img src="../assets/media/profile.png" alt="" class="element__top--img">
            </div>
            <div class="element__top--1">
                <h2 class="content--heading uppercase">Madhusudan Bhardwaj</h2>
                <p class="content--para uppercase">With great power comes great Devsponsibility <span class="break">/</span>always open to opportunity</p>
            </div>
        </div>
    </section>
        <main>
            <section class="skills">
                <div class="container">
                    <h3 class="skills__heading--1 uppercase">Skills</h3>
                    <ul class="skills__list">
                        <li class="skills__item"><a href="#"><img src="../assets/media/html-5.svg" alt="html logo" class="skills__img"></a></li>
                        <li class="skills__item"><a href="#"><img src="../assets/media/css-3.svg" alt="css logo" class="skills__img"></a></li>
                        <li class="tools__item"><a href="#"><img src="../assets/media/sass.svg" alt="sass logo" class="skills__img"></a></li>
                        <li class="tools__item"><a href="#"><img src="../assets/media/haml.svg" alt="Haml logo" class="skills__img"></a></li>
                    </ul>
                </div>
            </section>
            <section class="Tools">
                    <div class="container">
                        <h3 class="Tools__heading--1 uppercase">Tools</h3>
                        <ul class="Tools__list">
                            <li class="tools__item"><a href="#"><img src="../assets/media/github.svg" alt="github logo" class="tools__img"></a></li>
                            <li class="tools__item"><a href="#"><img src="../assets/media/vs-code.svg" alt="code editor logo" class="tools__img"></a></li>
                            <li class="tools__item"><a href="#"><img src="../assets/media/adobe-xd.svg" alt="xd logo" class="tools__img"></a></li>
                        </ul>
                    </div>
                </section>
        </main>
        {% include footer.html %}
</body>
</html>