<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <link rel="stylesheet" href="assets/grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Projects</title>
</head>
<body>
    {% include header.html %}
   <section class="about__author">        
    <div class="container">
        <div class="element__top">
            <img src="../assets/media/profile.png" alt="" class="element__top--img">
        </div>
        <div class="element__top--1">
            <h2 class="content--heading uppercase">Madhusudan Bhardwaj</h2>
            <p class="content--para uppercase">With great power comes great Devsponsibility</p>
        </div>
    </div>
   </section>
   <main>
        <section class="projects">
            <div class="container">
                <h3 class="projects__heading--1 uppercase">PROJECTS</h3>
                <ul class="projects__list">
                    <li class="projects__item"><a href="https://mammothgazillionaire.github.io/projectfood.github.io/"><img src="../assets/media/1.png" alt="" class="projects__img index--1"></a></li>
                    <li class="projects__item"><a href="#"><img src="../assets/media/2.png" alt="" class="projects__img index--2"></a></li>
                    <li class="projects__item"><a href="#"><img src="../assets/media/3.png" alt="" class="projects__img index--3"></a></li>
                    <li class="projects__item"><a href="#"><img src="../assets/media/4.png" alt="" class="projects__img index--4"></a></li>
                </ul>
            </div>
        </section>

    </main>
    {% include footer.html %}
</body>
</html>